<h1>Главная страница</h1>

<ul>
  <li><%=link_to 'Page1', page_to_show(1) %></li>
  <li><%=link_to 'Page2',page_to_show(2) %></li>
  <li><%=link_to 'Page3',page_to_show(3) %></li>
  <li><%=link_to 'Page4',page_to_show(4) %></li>
 </ul>
